.news{
    background-color: #07040f;
}
.photo{
    width: 400px;
    height: 400px;
    margin-top: -90px;
}
 .newsletter{
background-image: url("../../../public/Metaverse.png");

background-size: cover;
height: 400px;

}
.newss{
    text-align: left;
    color: white;
    padding-top: 80px;
    padding-left: 60px;

}
.newsLetterHeading{
    text-transform: uppercase;
}
/* .mycustom {
    
    position: relative;
   
    }
    .mycustom input[type=text] {
        border: 1px solid white !important;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 50px;
    padding-right: 123px;
    background-color: #16182D;
    color: white;
    }
    .mycustom .input-group-prepend {
    position: absolute;
left:244px;
    top: 4px;
    bottom: 4px;
    z-index:9;
    border-radius: 50px;
    }
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
        border-top-right-radius:50px;
        border-bottom-right-radius: 50px;
    }
    .rounded-0{
        border-radius: 50px !important;
        background-color: #5133D5;
    } */
   .form-control{
     width: 50% !important;
     border: 1px solid white !important;
    width: 50%;
    height: 40px;
    border: none;
    background-color: #16182D;
    color: white;
    border-radius: 50px;
  

   }
   .form-control:focus{
    background-color: #16182D;
    color: white;
   }
   .input-group>.form-control{
       flex:none
   }
   

.input-group .btn {
   position: absolute;
    background-color: #5133D5;
    color: white;
    border-radius: 50px;
}
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
    border-top-right-radius:50px;
    border-bottom-right-radius: 50px;
}