.details{
 
    font-size: 16px;
    background: -webkit-linear-gradient(#CB3694, #5133D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
   

}
.myBox{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn,#CB3694, #5133D5);
    border-image-slice: 1;
  display: inline-block;
  padding-bottom: 20px;
}
.detail{
    padding-top: 20px;
    background-color: #120a1a;
    padding-bottom: 20px;
}
.detail2{
    display: inline-block;
    font-size: 16px;
    color: white;
    margin-left: 40px;
}
.hr1{
    background-color: lightgray;
    margin-top: 0px;
}