.stat{
    color: white;
    margin-left: 100px;
}
.statinfo{
    color: white;
}
.statp{
    color: #6d6977;
    font-weight: 100 !important;
    font-size: 12px;
}
.statRow{
    border-radius: 30px;
    border: 1px solid #C83695;
    background-color: #130926;
    padding: 50px 30px 50px 30px;
    margin-left: 110px;
}
.statRow1{
    border-radius: 30px;
    border: 1px solid #C83695;
    background-color: #130926;
    padding: 50px 30px 50px 30px;
    margin-left: 100px;
}
.statRow2{
    border-radius: 30px;
    border: 1px solid #C83695;
    background-color: #130926;
    padding: 50px 30px 50px 30px;
    margin-top: 100px;
    margin-left: 50px;
}
.rowss{
    
}
.gradientpara{
    color: white;
    font-size: 22px;
 
}
.kck{
    color: #6d6977;
    font-size: 12px;
}
.kckH{
    color: white;
    font-size: 18px;
}
.kckNum{
    color: white;
    font-size: 22px;
    float: right;
    padding-top: 8px;
    padding-right: 30px;
}
.img9{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 3px;
    
}

.btn10{
    background: #C83695;
    color: white;
    padding: 5px 10px 5px 11px;
border-radius: 50px;
font-weight: bold; 
border: none; 
box-shadow: 0px 7px 22px 2px #CB369475;

margin-left:50px ;
float: right;
font-size: 12px;
}
.btn11{
    background: #5133D5;
    color: white;
    padding: 12px 55px 12px 55px;
border-radius: 50px;
font-weight: bold; 
border: none; 
box-shadow: 0px 7px 22px 2px #5133D599;
margin-right: 30px;
}
.img7{
    width: 30px;
    height: 30px;
    float: right;
}
.inputField{
    margin-top: 30px;
}
.input-field{
    background-color: transparent;
    width: 100%;
    border: 0.5px solid white;
    padding: 7px 0px 10px 0px;
    border-radius: 50px;
    color: white;
    margin: 8px 0;
  

}
.btn13{
    background: #5133D5;
    color: white;
   padding: 10px 10px 10px 10px;
border-radius: 50px;
font-weight: bold;
margin-top: -4px;
border: none;
width: 100%;
box-shadow: 0px 7px 22px 2px #5133D599;
margin-top: 30px;


}
.input-field::placeholder{
    color: white;
}
.input-icons input[type="text"] {
    padding-left: 50px;
  }
  .input-icons {
    position: relative;
  }
  .input-icons img {
    position: absolute;
    left: 10px;
    top: 13px;
    

  }

.btn12{
    background: #C83695;
    color: white;
    padding: 5px 10px 5px 11px;
border-radius: 50px;
font-weight: bold; 
border: none; 
box-shadow: 0px 7px 22px 2px #CB369475;
font-size: 12px;
margin-left: -60px;
}
.text6{
  
  color: #6d6977;
}
.info{
    margin-top: 50px;
    font-size: 12px;
}
.textDetail{
    color: #A7A3AD;
    font-size: 16px;
    float: right;
}
.info1{
    margin-top:32px;
    font-size: 12px;
}
.foo{
    padding-bottom: 200px;
}
.btn15{
    background: transparent;
      color: white;
      padding: 10px 40px 10px 40px;
  border-radius: 50px;
  font-weight: bold; 
  border: none; 
  border: 2px solid #CB3694;
  }
@media only screen and (max-width: 610px){
    .statRow{
        margin-left: 5px;
        padding: 40px 20px 40px 20px;
     width: 98%;

    }
    .stat{
        margin-left: 5px;
    }
    .statRow1{
        margin-left: 5px;
        padding: 40px 20px 40px 20px;
     width: 98%;
        
    }
    .statRow2{
        margin-left: 5px;
        padding: 40px 20px 40px 20px;
     width: 98%;
        
    }
}
@media only screen and (min-width: 610px) and (max-width:990px){
    .statRow2{
        margin-left: 110px;
    }
}
@media only screen and (max-width: 770px){
    .btn15{
        margin-left: -20px;
        margin-top: 5px;
          }
          .sbtn11{
            display: block;
        }
        
}

