.table{
    background: url("../../../public/second-bg.png"),#0A0615;
 
    background-size: cover;
}
.tableHeading{
    color: white;
    text-align: center;
    padding-top: 30px;
}
.tables{
    color: white;
    border: 1px solid #5B435B;
width: 70%;
    background-image: linear-gradient(to right, #2f1031 , #1E1039);
    box-shadow: 0px 7px 22px 2px #5B435B;
    
}
.tables tr{
    text-align: center;
}
table ,th ,td{
    border: 1px solid #5B435B;
  width: 25%;
 

}